# Ngrok
NGROK_AUTHTOKEN=something

# Frontend
VITE_FIREBASE_API_KEY=something
VITE_FIREBASE_AUTH_DOMAIN=something
VITE_FIREBASE_PROJECT_ID=something
VITE_FIREBASE_STORAGE_BUCKET=something
VITE_FIREBASE_MESSAGING_SENDER_ID=something
VITE_FIREBASE_APP_ID=something

# Backend
MQTT_HOST=something
MQTT_PORT=something
MQTT_USER=something
MQTT_PASSWORD=something
MQTT_CLIENT_ID=something
HISTORY_SUBSAMPLE=something